    {
        varnish_host, "http://var1.teachbase.ru"
    }.
    {
        api_admin_login, "dpobro"
    }.
    {
        api_admin_pass_hash, "c34f2f81d97b0626ba43cc02ae746873"
    }.
    {
      name_regexp, "^[^\\/][\\w\\d\\_\\-\\/]+[^\\/]$"
    }.
    {
        aws_bucket, "devtbupload"
    }.
    {
        aws_dir, "hls"
    }.
    {
        file_dir, "/var/dpo/content"
    }.
    {
        hls_dir, "/var/dpo/hls"
    }.
    {
        dets_file, "/var/dpo/dets_translations"
    }. 
